*{
    padding: 0;
    margin: 0;
}

#register_username , #register_email , #register_password_first , #register_password_second{
    width: 30vw;
    min-width: 250px !important;
    max-width: 400px !important;
}

.main-div{
    height: 70vh;
}